@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  @apply box-border m-0 p-0;
  font-family: "Montserrat", sans-serif;
}
.user-container {
  @apply bg-[#c9d6ff] flex items-center justify-center flex-col h-screen;
  background: linear-gradient(to right, #e2e2e2, #8162ff);
}
.container {
  @apply bg-white shadow-[0_5px_15px_rgba(0,0,0,0.35)] relative overflow-hidden w-[766px] max-w-full min-h-[480px] rounded-[30px];
}
.container p {
  @apply text-sm leading-5 tracking-[0.3px] mx-0 my-5;
}
.container span {
  @apply text-xs;
}
.container a {
  @apply text-[#333] text-[13px] no-underline mt-[15px] mb-2.5 mx-0;
}
.container button {
  @apply bg-[#e56f8c] text-white text-xs border font-semibold tracking-[0.5px] uppercase cursor-pointer mt-2.5 px-[45px] py-2.5 rounded-lg border-solid border-transparent;
}
.container form {
  @apply bg-white flex items-center justify-center flex-col h-full px-10 py-0;
}
.container input {
  @apply bg-[#eee] text-[13px] w-full mx-0 my-2 px-[15px] py-2.5 rounded-lg border-[none];
  outline: none;
}
.form-container {
  @apply absolute h-full transition-all duration-[0.6s] ease-[ease-in-out] top-0;
}
.sign-in {
  @apply w-6/12 z-[2] left-0;
}
.container.active .sign-in {
  @apply translate-x-full;
}

.social-icons {
  @apply mx-0 my-5;
}
.social-icons a {
  @apply border inline-flex justify-center items-center w-10 h-10 mx-[3px] my-0 rounded-[20%] border-solid border-[#ccc];
}
.toggle-container {
  @apply absolute w-6/12 h-full overflow-hidden rounded-[130px_0_0_100px] left-2/4;
}
.toggle {
  @apply bg-[#512da8] text-white absolute h-[109%] w-[207%] -left-full;
  background: linear-gradient(to right, #5c6bc0, #3c21f7);
}
.toggle-panel {
  @apply absolute w-6/12 h-full flex items-center justify-center flex-col text-center px-[30px];
}
.toggle-right {
  @apply translate-x-0 right-0;
}
