@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.menu-links {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-links.open {
  transform: translateX(0);
}

.dashboard-container {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
