@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.menu-links {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-links.open {
  transform: translateX(0);
}
